
    body {
      font-family:'Times New Roman', Times, serif;
      padding: 2rem;
      background: #fefefe;
      color: #222;
      max-width: 700px;
      margin: auto;
      line-height: 1.6;
    }

    select {
      font-size: 1.1em;
      /* padding: 0.2em; */
      border: 1px solid #ccc;
      background: #000000;
      color: aliceblue;
      /* border-radius: 5px; */
    }

.conclusion-class {
  display: none;
}

.conclusion-class.selected-conclusion {
  display: block;
}

    @media (max-width: 600px) {
      body {
        /* padding: 1rem; */
        font-size: 1.4em;
      }
    }